<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicons/site.webmanifest">

        <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css" />

        <title>{{ page.title }}</title>
    </head>
    <body>
        <div class="main-container">
            <div class="nav">
                <div class="nav-spacer"></div>
                <div class="nav-body">
                    <div class="nav-title">
                        <a href="/" class="top-part-title">> shurjo sakib masood</a>
                    </div>
                    <div class="nav-links">
                        <div class="nav-link">
                            <a href="/posts" class="top-part">posts</a>
                        </div>
                        <div class="nav-link">
                            <a href="/github" target="_blank" rel="noreferrer noopener" class="top-part">github</a>
                        </div>
                        <div class="nav-link">
                            <a href="/contact" class="top-part">contact</a>
                        </div>
                    </div>
                </div>
                <div class="nav-spacer"></div>
            </div>
            <div class="content">
                <div class="content-spacer"></div>
                <div class="content-body">
                    
                    {{ content }}
                
                </div>
                <div class="content-spacer"></div>
            </div>
        </div>
        <footer class="footer mt-auto">
            <div class="container">
                <span id="footer-custom">Copyright 2024 Shurjo Sakib Masood</span>
            </div>
        </footer>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
              extensions: [
                "MathMenu.js",
                "MathZoom.js",
                "AssistiveMML.js",
                "a11y/accessibility-menu.js"
              ],
              jax: ["input/TeX", "output/CommonHTML"],
              TeX: {
                extensions: [
                  "AMSmath.js",
                  "AMSsymbols.js",
                  "noErrors.js",
                  "noUndefined.js",
                ]
              }
            });
        </script>
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    </body>
</html>